{% extends "base.html" %}
{% load crispy_forms_tags%}
  {% block content%}

  

{% if user.is_authenticated %}
  
    
<!--<div class="row">       
  <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">

            <h4 class="card-title">{{ user.username }}'s Profile</h4> 
            <h4 class="card-title">  {{ user.first_name }} {{ user.last_name }} </h4>
            <p class="card-category">Clearance Report</p>
          </div>
        </div>
      </div>
    </div> 
        
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-table mr-1"></i>
Student Details
</div>
<div class="card-body">
<div class="row">
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
<tr>
<th>Name</th>
<th>Admission</th>
<th>Department</th>
<th>cleared</th>
<th>posted date</th>
<th>Course</th>
</tr>
</thead>
<tfoot>
<tr>
<th>Name</th>
<th>Admission</th>
<th>Department</th>
<th>cleared</th>
<th>posted date</th>
<th>Course</th>
</tr>
</tfoot>
<tbody>
{% for clearance in clearance %}
<tr>
<td>{{clearance.student}}</td>
<td>{{clearance.student.Adm_no}}</td>
<td>{{clearance.student.department}}</td>
<td>{{clearance.cleared}}</td>
<td>{{clearance.date_posted |date:"d M,Y"}}</td>
<td>{{clearance.student.course}}</td>
</tr>
{% empty %}
<tr>
<td colspan= 6> You have no pending clearance request.</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
{% for clearance in clearance %}
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-table mr-1"></i>
{{clearance.student}}
</div>
<div class="card card-profile">
<div class="card-avatar">
<a href="{{ clearance.student.image.url }}">
<img class="img" src="{{ clearance.student.image.url }}" />
</a>
{% endfor %}
</div>
</div>
</div>


{% else %}
<div class="row">
<div class="col-md-8">
<div class="card">
<div class="card-header card-header-primary">
<h4 class="card-title">Create Profile</h4>
<p class="card-category">Login/ Register first then Edit/ Create your profile</p>
<small class="text-muted">Sign In Again!  <a href=" #">Sign In</a></small>
</div>
</div>
</div>
</div>
{% endif %}

{% endblock content%}-->
